<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Live Tac Toe</title>
</head>

<body>

    <h1>Live Tac Toe</h1>
    You: <span class='name'></span>
    <div class='grid'>
    </div>
    <div class="status">Waiting for players</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/script.js"></script>

</body>

</html>