<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Xyot Multiplayer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container pt-3">

        <h2 class='text-center'>Xyot <small>Multiplayer</small></h2>
        <hr />
        <h5 class='text-center'>
            You: <span class='name'></span>
        </h5>
        <p class='text-center board'></p>
        <p class='room-display font-weight-bold text-center'></p>
        <p class='hint-display text-center'></p>

        <div class="row text-white my-3 controls">
            <div class="col-md-6 bg-success p-3 py-5 py-md-3">
                <h3>Public Room</h3>
                <p>Join a game automatically and play with random players...</p>
                <p>Select the game type</p>
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control" id='public-game-type'>
                            <option value=3 selected>3 x 3</option>
                            <option value=4>4 x 4</option>
                            <option value=5>5 x 5</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <button id='public-join-btn' class="btn btn-light btn-block my-2 my-md-0">Join Game</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6 bg-dark p-3 py-5 py-md-3">
                <h3>Private Room</h3>
                <p class="mb-2">Create a room and play with your friend...</p>

                <div class="row">
                    <div class="col-md-6 pt-2">
                        <p>Create a room and share the code with your friend</p>
                        <p>Select the game type:</p>
                        <select class="form-control" id='private-game-type'>
                            <option value=3 selected>3 x 3</option>
                            <option value=4>4 x 4</option>
                            <option value=5>5 x 5</option>
                        </select>
                        <button id='create-room-btn' class="btn btn-light btn-block my-2">Create Room</button>
                    </div>
                    <div class="col-md-6 pt-2">
                        <p>Or join a room using the code to play with your friend</p>
                        <form id='join-private-room-form'>
                            <input id='room-id-form' type='text' class="text-left form-control" placeholder='Room ID'>
                            <button class="btn btn-light btn-block my-2">Join Room</button>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- controls -->

        <div class='grid'>
        </div>

        <div class="status text-center"></div>
        <div class='time text-center'></div>
    </div>


    </div><!-- container -->




    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/script.js"></script>

</body>

</html>